<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/folderTemplate.css">
    <title><%= title %></title>
</head>
<body>
    <div class="header">
        <%- include("links/link", {connect: '/dashboard', link: "Home"}) %>
        <form action="/logout" method="post">
            <button type="submit">Log Out</button>
        </form>
    </div>
    <% if (locals.user) { %>
        <% if (title === "Dashboard") { %>
            <p class="welcome">Welcome, <%= user.firstName %> <%= user.lastName %></p>
        <% } else { %>
            <div></div>
        <% } %>
        <div class="container">
            <div class="inner-container">
                <div class="createBtn-container">
                    <div class="createBtn-div">
                        <button class="folder-btn">New Folder</button>
                        <hr>
                        <form action="/dashboard/uploadFile" method="post" enctype="multipart/form-data">
                            <input type="file" name="fileName" id="fileName" style="display: none;"/>
                            <div class="file-div">
                                <input type="button" id="fileBtn" name="fileBtn" value="New File">
                                <div class="file-name"></div>
                                <button type="submit">Add</button>
                                <% if (locals.errors) { %>
                                    <%- include("err/err.ejs" ,{keyword: errMsg}) %>
                                <% } %>
                            </div>
                        </form>
                    </div>
                    <dialog class="folder-dialog">
                        <form class="folder-dialog-form" action="<%= folderpath %>" method="post">
                            <label for="folder">Folder Name</label>
                            <input type="text" name="folder" id="folder">
                            <button type="submit" >Create folder</button>
                            <button type="button" class="cls-btn">Close</button>
                        </form>
                    </dialog>
                </div>
            </div>
            <div>
                <% if (locals.share) { %>
                <div class="share-container">
                    <button class="x-btn">X</button>
                    <div><b>Share Link</b></div>
                    <div class="share-link">
                        <%= share %>
                    </div>
                    <button class="copy-btn">Copy to clipboard</button>
                    <div class="inner-share-container"></div>
                </div>
                 <% } %>
                <div class="path-div">
                    <% let fullPath = "" %>
                    <% exactPath.forEach((path) => { %>
                        <% fullPath += "/" + path %>
                        <%- include("links/link", {connect: fullPath, link: path}) %>
                        <div class="dash-div"><b style="color: gray;">></b></div>
                    <% }) %>
                </div>
                <div>
                    <% if (locals.folders) { %>
                        <div class="folders-div">
                        <% folders.forEach((folder) => { %>
                            <% if (locals.editId === folder.id) { %>
                                <div class="folder-container">
                                    <form class="folder-link" action="/dashboard/<%= folder.id %>/update" method="post">
                                        <input type="text" name="folder" id="folder" value="<%= folder.name %>">
                                        <button class="edit-btn" type="submit">Save</button>
                                        <a href="<%= folderpath %>"><button class="cancel-btn" type="button">Cancel</button></a>
                                    </form>
                                </div>
                            <% } else { %>
                                <div class="folder-container">
                                    <div class="folder-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 2048 2048" width="20" height="20" style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"><defs><style>.fil0{fill:#212121;fill-rule:nonzero}</style></defs><g id="Layer_x0020_1"><g id="_250933848"><path id="_250933584" class="fil0" d="M397.605 450.081h289.114c9.769 0 18.514 4.378 24.384 11.28L839.126 590.95h748.056c17.673 0 32 14.327 32 32v260.254c0 17.673-14.327 32.001-32 32.001H573.452c-20.17 0-35.238 9.14-47.126 23.15-14.746 17.375-25.866 42.368-35.511 68.485l-168.953 457.444-30-11 30.017 11.087c-6.122 16.578-24.526 25.054-41.104 18.93-13.107-4.84-21.147-17.358-20.914-30.58v-864.9c0-37.91 15.488-72.355 40.436-97.303 24.95-24.95 59.394-40.437 97.305-40.437zm275.874 64.002H397.605c-20.245 0-38.675 8.305-52.055 21.685-13.378 13.378-21.685 31.808-21.685 52.053v686.595L430.817 984.84c11.817-31.996 26.041-63.323 46.76-87.737 23.574-27.778 54.095-45.9 95.877-45.9h981.727V654.951H825.885v-.003c-8.255 0-16.505-3.173-22.764-9.508l22.764-22.49-22.75 22.375-129.657-131.243zm945.705 939.843v6.254c0 37.906-15.489 72.35-40.44 97.301-24.95 24.95-59.394 40.44-97.3 40.44h-6.898v-64.002c20.167 0 35.235-9.143 47.125-23.152 14.747-17.376 25.868-42.37 35.512-68.482l30 11-30.019-11.088c6.123-16.578 24.528-25.054 41.106-18.932 13.133 4.851 21.18 17.409 20.914 30.66zM404.504 1597.92h-6.896a136.649 136.649 0 0 1-44.562-7.458c-14.335-4.937-27.761-12.332-39.794-21.7l-.073.094c-13.942-10.86-16.44-30.968-5.58-44.91 10.758-13.81 30.587-16.39 44.511-5.883 7.763 4.818 16.38 8.747 25.344 11.537 8.947 2.784 18.154 4.318 27.05 4.318v64.002z"/><path id="_250933536" class="fil0" d="M573.455 851.203h1070.04c18.134 0 36.83 3.656 54.475 10.173 24.301 8.974 47.003 23.622 63.789 41.817 18.543 20.098 30.237 44.655 30.237 71.459 0 10.558-1.858 21.339-5.864 32.187l-168.953 457.444c-11.816 31.993-26.041 63.32-46.761 87.735-23.574 27.777-54.098 45.902-95.876 45.902H404.502c-18.134 0-36.833-3.655-54.481-10.174-24.301-8.975-47-23.622-63.785-41.813-18.465-20.014-30.11-44.562-30.111-71.458h-.126c0-10.559 1.858-21.341 5.866-32.19L430.818 984.84c11.817-31.996 26.04-63.324 46.76-87.737 23.573-27.778 54.094-45.9 95.877-45.9zm1070.04 64.002H573.455c-20.17 0-35.238 9.14-47.126 23.15-14.746 17.374-25.866 42.368-35.511 68.484l-168.953 457.444c-1.273 3.447-1.864 6.86-1.864 10.192h-.125c0 9.51 5.167 19.328 13.36 28.208 9.873 10.701 23.688 19.489 38.784 25.063 10.707 3.955 21.865 6.173 32.482 6.173h1070.04c20.167 0 35.235-9.143 47.125-23.152 14.747-17.377 25.868-42.37 35.512-68.483l168.953-457.444c1.272-3.445 1.863-6.857 1.863-10.188 0-9.604-5.12-19.413-13.237-28.21-9.874-10.703-23.69-19.491-38.787-25.066-10.705-3.953-21.86-6.172-32.476-6.172z"/><path id="_250933392" class="fil0" d="M414.961 1152h-3.437c-17.673 0-32-14.328-32-32V736c0-17.674 14.327-32.002 32-32.002h1056c17.673 0 32 14.328 32 32.001v147.206c0 17.673-14.327 32.001-32 32.001H573.455c-20.17 0-35.238 9.14-47.126 23.15-14.746 17.375-25.866 42.368-35.511 68.485l-45.236 122.478c-3.99 13.128-16.191 22.682-30.622 22.682zm28.564-198.556c9.263-20.626 20.209-40.026 34.053-56.34 23.574-27.778 54.095-45.9 95.878-45.9h862.068V768h-992v185.444z"/></g></g><path style="fill:none" d="M0 0h2048v2048H0z"/></svg>
                                        <div class="action-btn-div">
                                            <%- include("links/link", {connect: `${folderpath}/${folder.name}`, link: folder.name}) %>
                                        </div>
                                        <svg class="three-dot" xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M10 0a10 10 0 1 0 10 10A10 10 0 0 0 10 0zM6 11a1 1 0 1 1 1-1 1 1 0 0 1-1 1zm4 0a1 1 0 1 1 1-1 1 1 0 0 1-1 1zm4 0a1 1 0 1 1 1-1 1 1 0 0 1-1 1z"/></svg>
                                    </div>
                                    <div class="dropdown-function">
                                        <form class="delete-form" action="/dashboard/<%= folder.id %>/delete" method="post">
                                            <button class="delete-btn" type="submit">Delete</button>
                                        </form>
                                        <hr>
                                        <form class="update-form" action="/dashboard/<%= folder.id %>/update" method="get">
                                            <button class="update-btn" type="submit">Update</button>
                                        </form>
                                    </div>
                                </div>
                            <% } %> 
                        <% }) %>
                        </div>
                    <% } %> 
                    <% if (locals.files) { %>
                        <div class="files-div">
                            <% files.forEach((file) => { %>
                                <div class="file-container">
                                    <div class="file-info">
                                        <div class="file-name">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 400 400" xml:space="preserve"><path fill="#6E83B7" d="M439.893 502H101.964V40h338z"/><path fill="#EDEFF1" d="M410 472H72V10h258l80 80z"/><path fill="#D3D3D3" d="M104 400h274v40H104zM104 360h180v20H104zM104 320h180v20H104zM330 10v80h80z"/></svg>
                                            <div><%= file.fileName %></div>
                                            <svg class="three-dot-file" xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M10 0a10 10 0 1 0 10 10A10 10 0 0 0 10 0zM6 11a1 1 0 1 1 1-1 1 1 0 0 1-1 1zm4 0a1 1 0 1 1 1-1 1 1 0 0 1-1 1zm4 0a1 1 0 1 1 1-1 1 1 0 0 1-1 1z"/></svg>
                                        </div>
                                        <div class="file-size">
                                            <div>
                                                <%= file.fileSize / 1000%> KB
                                            </div>
                                        </div>
                                    </div>
                                    <div class="file-function">
                                        <form class="delete-form-file" action="/dashboard/<%= file.id %>/<%= file.fileUrl %>/<%= file.fileName %>/deleteFile" method="post">
                                            <button class="delete-btn-file" type="submit">Delete</button>
                                        </form>
                                        <hr>
                                        <form class="download-form" action="/dashboard/<%= file.fileUrl %>/<%= file.fileName %>/download" method="get">
                                            <button class="download-btn" type="submit">Download</button>
                                        </form>
                                        <hr>
                                        <form class="share-form" action="/dashboard/<%= file.fileUrl %>/<%= file.fileName %>/share" method="post">
                                            <button class="share-btn" type="submit">Share</button>
                                        </form>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    <% } %>
    <script>
        const folderBtn = document.querySelector(".folder-btn");
        const dialog1 = document.querySelector(".folder-dialog");
        const clsBtn1 = document.querySelector(".cls-btn");
        const fileBtn = document.querySelector("#fileBtn");
        const fileName = document.querySelector("#fileName");
        const file = document.querySelector(".file-name");

        const linkShare = document.querySelector(".share-link");
        const copyBtn = document.querySelector(".copy-btn");
        const innerShareContainer = document.querySelector(".inner-share-container");
        const xBtn = document.querySelector(".x-btn")
        const shareContainer = document.querySelector(".share-container")

        if (folderBtn && dialog1) {
        folderBtn.addEventListener("click", () => dialog1.showModal());
        }

        if (clsBtn1 && dialog1) {
        clsBtn1.addEventListener("click", (e) => {
            e.preventDefault();
            dialog1.close();
        });
        }

        if (fileBtn && fileName) {
        fileBtn.addEventListener("click", (e) => {
            e.preventDefault();
            fileName.click();
        });
        }

        if (fileName && file) {
        fileName.addEventListener("change", (e) => {
            const input = e.target;
            if (input.files.length > 0) {
            file.textContent = input.files[0].name;
            } else {
            file.textContent = "";
            }
        });
        }


        if (copyBtn && linkShare && innerShareContainer) {
        copyBtn.addEventListener("click", () => {
            navigator.clipboard.writeText(linkShare.textContent);
            innerShareContainer.innerHTML = "";
            const p = document.createElement("div");
            p.textContent = "Copied to Clipboard";
            innerShareContainer.appendChild(p);
            setTimeout(() => p.remove(), 2000);
        });
        }

        if (xBtn){
            xBtn.addEventListener('click', (e) => {
                shareContainer.remove()
            })
        }

        document.addEventListener("click", (e) => {
            const threeDot = e.target.closest(".three-dot, .three-dot-file");
            if (!threeDot) return;

            const folder = threeDot.closest(".folder-container, .file-container");
            const dropdown = folder.querySelector(".dropdown-function, .file-function");
            dropdown.classList.toggle("show");
        });

        document.addEventListener('click', (e) => {
            if (e.target.closest(".folder-container, .file-container") && !e.target.closest(".download-btn")) return
            document.querySelectorAll(".dropdown-function.show, .file-function.show").forEach((elem) => {
                elem.classList.remove('show')
            })
        }) 
    </script>
</body>
</html>