<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/folderTemplate.css">
    <title><%= title %></title>
</head>
<body>
    <% if (locals.user) { %>
        <% if (title === "Dashboard") { %>
            <p>Welcome, <%= user.firstName %> <%= user.lastName %></p>
        <% } else { %>
            <div></div>
        <% } %>
        <div class="container">
            <div>
                <div>
                    <div class="">
                        <button class="folder-btn">Create folder</button>
                        <form action="/dashboard/uploadFile" method="post" enctype="multipart/form-data">
                            <input type="file" name="fileName" id="fileName" style="display: none;"/>
                            <input type="button" id="fileBtn" name="fileBtn" value="Add file">
                            <div class="file-name"></div>
                            <button type="submit">Add</button>
                            <% if (locals.fileErr) { %>
                                <%- include("err/err.ejs" ,{keyword: errMsg}) %>
                            <% } %>
                        </form>
                    </div>
                    <div>
                        <form action="/logout" method="post">
                            <button type="submit">Log Out</button>
                        </form>
                    </div>
                </div>
                <dialog class="folder-dialog">
                    <form action="<%= folderpath %>" method="post">
                        <% if (locals.errors) { %>
                            <%- include("err/err.ejs", {keyword: errMsg}) %>
                        <% } %>
                        <label for="folder">Folder Name</label>
                        <input type="text" name="folder" id="folder">
                        <button type="submit" >Create folder</button>
                        <button type="button" class="cls-btn">Close</button>
                    </form>
                </dialog>
            </div>
            <div>
                <div style="display: flex;">
                    <% let fullPath = "" %>
                    <% exactPath.forEach((path) => { %>
                        <% fullPath += "/" + path %>
                        <%- include("links/link", {connect: fullPath, link: path}) %>
                        <div>/</div>
                    <% }) %>
                </div>
                <div>
                    <% if (locals.folders) { %>
                        <% folders.forEach((folder) => { %>
                            <% if (locals.editId === folder.id) { %>
                                <form action="/dashboard/<%= folder.id %>/update" method="post">
                                    <% if (locals.updateErr) { %>
                                        <%- include("err/err.ejs", {keyword: errMsg}) %>
                                    <% } %>
                                    <label for="">Folder's name</label>
                                    <input type="text" name="folder" id="folder" value="<%= folder.name %>">
                                    <button type="submit">Save</button>
                                    <a href="<%= folderpath %>">Cancel</a>
                                </form>
                            <% } else { %>
                                <div>
                                    <%- include("links/link", {connect: `${folderpath}/${folder.name}`, link: folder.name}) %>
                                    <form action="/dashboard/<%= folder.id %>/delete" method="post">
                                        <button type="submit">Delete</button>
                                    </form>
                                    <form action="/dashboard/<%= folder.id %>/update" method="get">
                                        <button type="submit">Update</button>
                                    </form>
                                </div>
                            <% } %> 
                        <% }) %>
                <% } %> 
                    <% if (locals.files) { %>
                        <% files.forEach((file) => { %>
                            <div>
                                <p><%= file.fileName %> <span><%= file.fileSize %></span></p>
                                <form action="/dashboard/<%= file.id %>/<%= file.fileUrl %>/<%= file.fileName %>/deleteFile" method="post">
                                    <button type="submit">Delete</button>
                                </form>
                                <form action="/dashboard/<%= file.fileUrl %>/<%= file.fileName %>/download" method="get">
                                    <button type="submit">Download</button>
                                </form>
                                <form action="/dashboard/<%= file.fileUrl %>/<%= file.fileName %>/share" method="post">
                                    <button type="submit">Share</button>
                                </form>
                            </div>
                        <% }) %>
                        <% if (locals.share) { %>
                            <div><%= share %></div>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    <% } %>
    <script>
        const folderBtn = document.querySelector(".folder-btn")
        const dialog1 = document.querySelector(".folder-dialog")
        const clsBtn1 = document.querySelector(".cls-btn")
        const fileBtn = document.querySelector("#fileBtn")
        const fileName = document.querySelector("#fileName")
        const file = document.querySelector(".file-name")

        folderBtn.addEventListener("click",() => {
            dialog1.showModal()
        })

        clsBtn1.addEventListener('click', (e) => {
            e.preventDefault()
            dialog1.close()
        })

        fileBtn.addEventListener("click", (e) => {
            e.preventDefault()
            fileName.click()
        })

        fileName.addEventListener('change', (e) => {
            const input = e.target
            if (input.files.length > 0){
                console.log(input.files[0].name)
                file.textContent = input.files[0].name
            }
        })

    </script>
</body>
</html>